header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 116, 116);
}

nav {
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 2%;
}

.landing-page {
  text-align: center;
  max-width: 60%;
  margin: 2% auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.passwords-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.passwords-controls label {
  padding: 1%;
}

.passwords-controls a {
  padding-left: 3%;
}

.submit {
  text-align: center;
  margin: 0 auto;
  align-self: center;
}

.passwords-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passwords-list ul {
  list-style-type: none;
}

.passwords-list ul li {
  background-color: rgb(187, 187, 187);
  padding: 2% 6%;
  margin: 3% 0;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 4% 0;
}
